button {
    border: 0;
    border-radius: 20px;
    background-color: var(--accent_dark);
    color: var(--secondary-color);
    padding: 11px;
    width: 30%;
    transition: all .3s ease-in;
}
  
button:hover {
    background-color: var(--grey1);
}

button:active {
    color: var(--accent_dark);
    background-color: var(--secondary-color);
    outline: .2rem var(--accent_dark) solid;
    transition: 0.1s ease-out;
}

button:focus {
    outline: .2rem var(--secondary-color) solid;
    outline-offset: 2px;
}